
body, h1, h2, p {

    margin: 0;      /*standard å nullstille standarder fra nettleser*/
    padding: 0;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(120, 117, 122);
  }
  
  header{
    text-align: center;
    padding: 20px;
    background-color: rgb(235, 228, 241);
  }
  .main-heading{
    font-size: 28px;
    margin-bottom: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .sub-title{
    font-size: 20px;
    color: dimgray;
    margin-bottom: 10px;
  }
  .author-info{
    margin-bottom: 10px;
    
  }
  #author{
    font-weight: bold;
    color: rgb(228, 138, 74);
  }
  .date {
    color: azure;
    margin-left: 10px;
  }
  .article-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .photographer {
    color: rgb(173, 182, 182);
    font: italic;
    margin-bottom: 20px;
  }
  article{
    background-color: rgb(235, 228, 241);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h2.sub-heading{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p{
    line-height: 1.5;
    margin-bottom: 20px;
  }
  